//Wide screen
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

//Desktop and laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .education {
    grid-template-areas:
      "clg hsc"
      "ssc ems";
    grid-template-columns: 1fr 1fr;
  }
}

//Tablets and Small laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;
  }
  .menu-nav,
  .menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate(0, 0);
    }
  }

  .menu-nav {
    height: 70vh;
    transform: translate(100%, 0);
    .nav-link {
      font-size: 24px;
    }
  }
  .menu-branding {
    height: 30vh;
    transform: translate(-100%, 0);
    .portrait {
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio";

    grid-template-columns: 1fr;
  }

  .education {
    grid-template-areas:
      "clg"
      "hsc"
      "ssc"
      "ems";
    grid-template-columns: 1fr;
  }

  @for $x from 1 through 4 {
    &.w3-animate-bottom:nth-child(#{$x}) {
      animation: animatebottom $x * 0.5s;
    }
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

//Smartphones
@include mediaSm {
  main#home {
    margin-top: 0vh;
    &h1 {
      font-size: 4rem;
    }
  }

  .education {
    grid-template-areas:
      "clg"
      "hsc"
      "ssc"
      "ems";
    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: 1fr;
  }
}
