@import "config";
@import "menu";
* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  min-height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  user-select: none;
  position: relative;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.9);
    text-align: left;
    width: 50%;
  }
  &.xsm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      transition: all 0.5s;

      &:hover {
        color: $secondary-color;
        font-size: 1.2rem;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 10vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: 3px solid $secondary-color;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job {
    background: darken($primary-color, 5);
    border-bottom: 5px solid $secondary-color;
    padding: 0.5rem;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }

  margin-bottom: 2rem;
}

//WORK/PROJECTS
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 2rem;

  img {
    width: 100%;
    border: 3px solid #fff;

    &:hover {
      border: 3px solid $secondary-color;
      opacity: 0.5;
      @include easeOut;
    }
  }
}

//Contact Page

.contact {
  overflow: hidden;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 1.5rem;
    border: 3px solid #fff;
    padding: 0.5rem 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
    @include easeOut;

    &:hover {
      padding: 1.4rem 2.4rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

//Button styles

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  text-align: center;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

@import "mobile";
